{{! Étendre le layout admin }}


<section id="recent-tickets" class="mb-8">
    <div class="bg-white rounded-lg shadow p-4">
        <p>Bonjour et bienvenue dans le panel d'administration.</p>
    </div>
</section>

