<div class="flex justify-between items-center w-full">
    <ul class="flex space-x-4 text-white font-semibold">
        <li><a href="/dashboard" class="hover:text-[#DCA35B]">Accueil</a></li>
        <li><a href="/dashboard/tickets" class="hover:text-[#DCA35B]">Liste des tickets</a></li>


    </ul>

    <ul class="flex space-x-4 text-white font-semibold">
        <li><a href="/admin" class="hover:text-[#DCA35B]">Administration</a></li>
        <li><a href="/logout" class="hover:text-[#DCA35B]">Déconnexion</a></li>
    </ul>
</div>