<ul>
    <li><a href="/dashboard">Accueil</a></li>
    <li><a href="/">Connexion</a></li>
    <li><a href="/logout">Déconnexion</a></li>
    <li><a href="/dashboard/tickets/new">New Ticket</a></li>
    <li><a href="/dashboard/hotliner">Dashboard Hotliner</a></li>
    <li><a href="/dashboard/modifTicket">Modification Ticket</a></li>
</ul>
