<ul>
        <li><a href="/dashboard">Accueil</a></li>
        <li><a href="/api/users">Users</a></li>
        <li><a href="/logout">Logout</a></li>
        <li><a href="/dashboard/tickets/new">Tickets New</a></li>
        <li><a href="/dashboard/hotliner">Dashboad Hotlinet</a></li>
</ul>