<!DOCTYPE html>
<html lang="Fr">
{{> head}}

<body class="bg-[#F3F6F2] min-h-screen flex flex-col">

<!-- Conteneur principal avec espacement ajusté -->
<div class="login-container flex justify-center items-center flex-grow mt-8 mb-8">
    {{{body}}}
</div>

<!-- Footer -->
<footer class="footer bg-[#3A3E4C] p-4 text-center text-white">
    {{> footer}}
</footer>

</body>
</html>
