<div class="text-center">
    <h1 class="text-6xl font-bold text-[#D74C55]">404</h1>
    <h2 class="text-3xl font-semibold text-gray-700 mt-4">Oups! Page non trouvée</h2>
    <p class="text-gray-500 mt-2">Il semble que la page que vous cherchez n'existe pas.</p>

    <p class="text-gray-400 mt-4">{{message}}</p>

    <a href="/" class="mt-6 inline-block bg-[#DCA35B] text-white py-2 px-6 rounded-md hover:bg-[#8D8899] transition duration-300">
        Retour à l'accueil
    </a>
</div>