<div class="ticket-actions">
  <h2>Gestion des Tickets</h2>

  <div class="action-button">
    <a href="/dashboard/hotliner/newticket" class="create-ticket-btn">Créer un nouveau ticket</a>
  </div>

  <div class="search-form">
    <input type="text" placeholder="Rechercher un ticket" class="search-input">
    <button type="submit" class="search-btn">Rechercher</button>
  </div>

  <div class="ticket-list">
    <ul>
      {{#each tickets}}
      <li>
        <div class="ticket-item">
          <p><strong>Titre :</strong> {{this.title}}</p>
          <p><strong>Statut :</strong> {{this.status}}</p>
          <p><strong>Date de création :</strong> {{this.createdAt}}</p>
        </div>
      </li>
      {{/each}}
    </ul>
  </div>
</div>
