<div class="login-container">
    <div class="center">
        <h1>{{title}}</h1>
        <form action="/authenticated" method="POST">
            <div class="inputbox">
                <input type="text" name="username" required="required"/>
                <span>User</span>
            </div>
            <div class="inputbox">
                <input type="password" name="password" required="required"/>
                <span>Password</span>
            </div>
            <div class="inputbox">
                <button id="login" type="submit">Log In</button>
            </div>
        </form>
    </div>
</div>
